<div class="mainDiv">
  <header class="header">
    <ul class="dropdownMenu" #dropdownMenu>
      <li class="liClass">
        <a id="s1">Something 1</a>
      </li>
      <li class="liClass">
        <a id="s2">Something 2</a>
      </li>
      <li class="liClass">
        <a id="s3">Something 3</a>
      </li>
      <li class="liClass">
        <a id="s4">Something 4</a>
      </li>
      <li class="liClass">
        <a id="s5">Something 5</a>
      </li>
    </ul>

  </header>


  <script>

  </script>
