.dropdownMenu,.liClass {
  display: block;
  margin: auto;
  text-align: center;
}

#s1,#s2,#s3,#s4,#s5{
  font-size: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#s1 {
color:green;
}

#s2 {
  color: aquamarine;
}

#s3 {
  color: rebeccapurple;
}

#s4 {
  color: orangered;
}

#s5 {
  color: darkolivegreen;
}
